* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  color: #fff;
}

.main-grid {
  background: #333;
  min-height: 100vh;
  display: flex; /* bonus pour ton layout */
}
